<swiper [config]="config"
        #usefulSwiper>
  <div class="swiper-wrapper">
    <div class="swiper-slide"
         *ngFor="let item of slides">
      <img src="{{ item.img }}"
           alt="GaGa">
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
<!-- <router-outlet></router-outlet> -->
<!-- <div class="swiper-container"
     [swiper]="config"
     [(index)]="index">
  <div class="swiper-wrapper">
    <div class="swiper-slide"> Swiper slide content </div>
  </div>
  <div class="swiper-scrollbar"></div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div> -->
